body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    display: grid;
    place-items: center;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    width: 300px;
    box-shadow: 9px 25px 9px #01010104 ;
}

img {
    border-radius: 1rem;
    width: 100%;
}

h1 {
    font-size: 1.5rem;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p {
    margin-top: 0;
    margin-bottom: 2rem;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.text {
    padding: 0rem 0.8rem;
}